@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

/* Week 3 - CSS Grid */

.wrapper {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  grid-template-rows: 130px 110px 70px 90px;
  gap: 12px;
  grid-template-areas:
    "one one one"
    "two three three"
    "two four five"
    "six six six";
  max-width: 900px;
  margin: 0 auto;
}

.box1 { grid-area: one; background: #9e3d3f; }
.box2 { grid-area: two; background: #f3e7b2; }
.box3 { grid-area: three; background: #9bbf9b; }
.box4 { grid-area: four; background: #bfe2ff; }
.box5 { grid-area: five; background: #5c55ff; color: #fff; }
.box6 { grid-area: six; background: #ff62cf; }

.wrapper div {
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  border: 2px solid rgba(0,0,0,0.15);
}

/* Carousel caption positioning */
.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: auto;
  text-align: left;
  padding: 15px 20px;
  border-radius: 6px;
  max-width: 60%;
}

/* Caption color variations */
.caption-dark {
  background-color: rgba(255, 255, 255, 0.75);
  color: #111;
}

.caption-blue {
  background-color: rgba(0, 0, 0, 0.6);
  color: #cfe9ff;
}

.caption-green {
  background-color: rgba(0, 0, 0, 0.6);
  color: #c8f7c5;
}

.caption-light {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}
